html {
    background-color: black;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 130pt;
    text-align: center;
    color: #00C0DE;
}

h2 {
    text-align: center;
    color:white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.menu {
    float: right;
    position: sticky;
    top: 10pt;
}

.menu a, a:link, a:visited {
    font-size: 24pt;
    padding: 20px 20px 0px 0px; 
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #FF00FF;
    cursor: pointer;
}

.stick {
    position: sticky;
    top: 10pt;
}

/* Removes scroll bar in chrome */
::-webkit-scrollbar {
    height: 1px;
    width: 1px;
    background: #000;
}

/* Removes scroll bar in chrome */
.element::-webkit-scrollbar {
    -webkit-appearance: none;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.flex-img {
    width: 100%;
}

.float {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.float:hover {
    top: -3px;
}
